/*-- scss:defaults --*/

$spc-primary-light:    #8faad4;
$spc-primary:          #506a8f;
$spc-secondary:        #2b2b2b;
$spc-secondary-light:  #3a3a3a;
$spc-accent:           #b4975a;
$spc-accent-light:     #d8c89a;
$spc-accent-dark:      #6b5b3a;
$spc-bg-0:             #121212;

/*-- scss:rules --*/

/* Optional custom styles */
